* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  scroll-behavior: smooth
}
::selection {
  color: #FAF8ED;
  background-color: #F66F4D;
}

body {
  @apply font-inter text-base text-primary bg-yellow;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;

  &:focus {
    user-select: none;
  }
}

img, svg {
  display: initial;
}
button {
  cursor: pointer;
}
@media (hover: none) and (pointer: coarse) and (max-width: 767px) {
  input {
    @apply text-base #{!important}
  }
}

*::-webkit-scrollbar {
  height: 6px;
  width:6px
}

*::-webkit-scrollbar-thumb {
  background-color: #0f172a;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(29, 28, 28, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body:not(.user-is-tabbing) *:focus {
  outline: none !important;
}
